/* body{
    background: yellow;
} */

/* .parent {
    border: 1px solid black;
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: center;
} */
@import "wikitree.css";

.child {
    display: inline-block;
    border: 1px solid red;
    padding: 1rem 1rem;
    vertical-align: top;
  }
  
.panel {
    width: 200px;
    height: 800px;
    position: fixed;
    left: 0px;
    overflow-x: scroll;
  }

.content{
    max-width: 1700px;
    position: relative;
    left:220px;
}

#iframeContent{
  overflow-x: hidden;
  height: 800px;
  width: 1600px;
  border: none;
}

/* ******************************************************************************************************************* */
.wikiAppLink{
  color: rgb(51, 102, 255);
  text-decoration: underline;
  cursor: pointer;
  }

info icon {
  background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAAPCAYAAAA71pVKAAAACXBIWXMAAAsTAAALEwEAmpwYAAABGElEQVR4nIVSO07EQAydjgPwqbETPtdA0IWWeuk4CUjxLMWWSBwBtJSUUO0dKGHsEQ2fEikSyAkblBmHtWSNMuOXZz8/54woz2UT6niMFE/11G+3KrbrsAde7pC4QS/ffRI3QDLH+mXHBAKFIyD+HICSBH2fhsOcMQECSUCSM/TCw5/wR3H5XP6xaqsZEz+Us6c1JH40OrhtgejjVjbjssjLlzkCcbM75Q3XqmoWyDVQPEEvb7YGsXLoZTIiEHedpTPLMifjzCvBsXL7F2F9ZOZxMP3O3O1Y5kbBogUTL4xN3PSrUudkBiG5B5IrPZP795Jei4FR1DlqgP8cpsCijgemRdU5agDL29pqxmiFiqFqdmuMVS9OEj8SJ5q26oN8uwAAAABJRU5ErkJggg==');
}

info icon {
  background-repeat: no-repeat;
  background-position: 4px center;
  padding-left: 24px;
}